@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SimpleCRUD.Models.Category
@{
    ViewData["Title"] = Model.CaregoryId == 0 ? "Add Category" : "Edit Category";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="@(Model.CaregoryId == 0? "Create" :"Edit")">
    <input type="hidden" asp-for="CaregoryId" />
    <div class="form-group">
        <label asp-for="CaregoryName">Caregory Name</label>
        <input asp-for="CaregoryName" class="form-control" required />
        <span asp-validation-for="CaregoryName" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">@(Model.CaregoryId == 0 ? "Save" : "Update")</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
    
</form>